/* BOX HACK RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

/* MISC STYLE */
img {
  max-width: 100%;
}

h1, h2 {
  margin-bottom: 15px;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/* NAV */
.navbar {
  background: #1F2937;
  color: #FFF;
  height: 60px;
}

.navbar .logo {
  font-size: 24px;
  color: #F9FAF8;
}

.navbar a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.navbar a:hover{
  color: black;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

/* HEADER */
.header {
  background: #1F2937;
  color: #FFF;
  min-height: 400px;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
  background-color: #6D747D;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header .container div {
  width: 50%;
}

.header p {
  font-size: 18px;
  color: #E5E7EB;
}

/* BUTTON */
.button {
  background-color: #3882F6;
  border-radius: 5px;
  border: 0;
  margin-top: 15px;
  padding: 5px 15px;
}

.button a {
  text-decoration: none;
  color: #FFF;
}

.button a:visited {
  color: #FFF;
}

/* INFORMATION */
.boxes {
  min-height: 450px;
  padding-top: 25px;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

div.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box div {
  border: 5px solid #3882F6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.box span {
  color: #6D747D;
  margin-top: 10px;
  width: 75%;
}

/* QUOTE */
.article {
  background: #E5E7EB;
  min-height: 400px;
  padding-top: 50px;
}

.article .container {
  display: flex;
  flex-direction: column;
}

.article p {
  margin: 0 150px;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1F2937;
}

.article span {
  color: #1F2937;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 150px;
  margin-top: 25px;
}

/* CALL TO ACTION ASIDE */
.aside {
  min-height: 350px;
  padding-top: 100px;
}

.aside .container {
  display: flex;  
}

/* CALL TO ACTION BOX */
.call-to-action {
  background: #3882F6;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.call-to-action div {
  color: #FFF;
  align-self: center;
}

.call-to-action h4 {
  font-size: 18px;
  font-weight: bold;
}

.call-to-action .button {
  border: 2px solid #FFF;
  height: 30px;
  align-self: center;
}

/* FOOTER */
.footer {
  min-height: 50px;
  background-color: #1F2937;
  padding-top: 15px;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer span {
  color: #FFF;
}