/* BOX HACK RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
/* MISC STYLE */
img {
  max-width: 100%;
}

h1, h2 {
  margin-bottom: 15px;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/* NAV */
.navbar {
  background: #1F2937;
  color: #FFF;
  height: 60px;
}

.navbar .logo {
  font-size: 24px;
  color: #F9FAF8;
}

.navbar a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.navbar a:hover{
  color: black;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

/* HEADER */
.header {
  background: #1F2937;
  color: #FFF;
  min-height: 400px;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
  background-color: #6D747D;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}